@model EL.PatientEntity

<div class="mb-3">
    @Html.LabelFor(m => m.Patient)
    @Html.TextBoxFor(m => m.Patient, new { @class = "form-control", @required = "required" })
    @Html.ValidationMessageFor(m => m.Patient, "", new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.DrugName)
    @Html.TextBoxFor(m => m.DrugName, new { @class = "form-control", @required = "required" })
    @Html.ValidationMessageFor(m => m.DrugName, "", new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Dosage)
    @Html.TextBoxFor(m => m.Dosage, new { @class = "form-control", @type = "number", @min = "1", @required = "required" })
    @Html.ValidationMessageFor(m => m.Dosage, "", new { @class = "text-danger" })
</div>